body {
  background-color: white;
}

.bi-bi-cart4 {
  padding-right: 20px;
}

/* .btn:hover { */
/* background-color: lightblue; */
/* } */

.home-image1 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.intro-para {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.feature1-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  border-radius: 10%;
}

.first-image {
  display: flex;
  border-radius: 60px;
  padding-right: 10px;
}

.feature2-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-right: 120px;
}

.second-image {
  display: flex;
  border-radius: 20%;
  padding-left: 10px;
}

.feature3-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-right: 60px;
}

.third-image {
  display: flex;
  border-radius: 20%;
  padding-left: 30px;
}

.about-image {
  display: block;
  text-align: center;
  justify-content: center;
  padding-left: 30px;
}

.shop-candle {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 7%;
}

.card-img-top {
  border-radius: 50%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

/* CheckoutPage */
.index-row {
  border-bottom: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.index-item {
  display: inline-block;
  padding-right: 15em;
  color: black;
  font-weight: bold;
  width: 11%;
}

.cart-item {
  display: inline-block;
  padding-right: 2em;
  color: gray;
  width: 9%;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
}

.btn-remove {
  max-width: 19%;
  margin-left: 1em;
  color: black;
  background-color: rgb(248, 104, 104);
  border-radius: 0.5em;
}

.cart-total {
  text-align: start;
  margin-left: 100px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 70px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 1.75em;
}

.footer {
  background-color: whitesmoke;
}

.social-media nav {
  font-size: 60px;
  padding-top: 10px;
}

.bi {
  padding: 5px;
  color: #2c3e50;
}
